<?xml version="1.0"?>
<Events>
    <SupportURL>https://github.com/berkinet/phidgets22-indigo</SupportURL>
    <Event id="firmwareUpdateAvailable">
        <Name>Device firmware update available</Name>
        <Label>The list of Indigo Phidget devices with available firmware updates changed</Label>
        <ConfigUI>
            <Field id="firmwareVariableReference" type="textfield" readonly="true">
                <Label>Copy into action text:</Label>
                <Description>Indigo variable: Phidgets22_FirmwareUpdatesAvailable. Select and copy this complete reference into an email body or other action text field.</Description>
            </Field>
        </ConfigUI>
    </Event>
    <Event id="deviceDetached" deviceFilter="self">
        <Name>Phidget device detached</Name>
        <Label>An Indigo Phidget device has been detached</Label>
           <ConfigUI>
            <Field id="indigoDevice" type="menu">
              <Label>Phidget Device</Label>
                <List class="self" method="getAttachCapableList"/>
            </Field>
            <Field id="detachDelay" type="textfield" defaultValue="0">
              <Label>Must remain detached (seconds):</Label>
              <Description>Delays this trigger and cancels it if the device reattaches first. A cancelled detach also suppresses its matching attach event. Use 0 for immediate execution.</Description>
            </Field>
          </ConfigUI>
    </Event>
    <Event id="deviceAttached" deviceFilter="self">
        <Name>Phidget device attached</Name>
        <Label>An Indigo Phidget device has been attached</Label>
        <ConfigUI>
            <Field id="indigoDevice" type="menu">
              <Label>Phidget Device</Label>
                <List class="self" method="getAttachCapableList"/>
            </Field>
        </ConfigUI>
    </Event>
</Events>
